h2 {
  font-size: 20px;
  color: black;
}
h3 {
  margin: 0 auto;
}
p {
  color: rgb(84, 84, 84);
  padding: 10%;
  line-height: 180%;
  letter-spacing: 200%;
}
body {
  background-color: rgb(249, 249, 249);
  color: rgb(27, 29, 38);
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: auto;
}
.main-section {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  height: auto;
}

div.title {
  margin: 1%;
  padding-left: 1%;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.container-table {
  display: flex;
  justify-content: flex-start;
}
.informations {
  font-family: 'Monserrat', sans serif;
  font-weight: 200;
  background-color: #defed2;
  padding: 20px;
  margin: 15px 10px 15px 10px;
}

.ingredients {
  font-family: 'Montserrat', sans serif;
  background-color: lightgray;
  padding: 20px;
}

.preparation {
  font-family: 'Roboto', sans serif;
  line-height: 180%;
}
.footer {
  font-weight: bold;
}

table {
  margin-left: auto;
  margin-right: auto;
}
/* Images */
.asperges {
  width: 90%;
}
